/**
 NOTE: Use & when nesting elements, it will always refer to the parent.
       Important for when we have multiple selectors we are applying styles to.

 NOTE: http://fontawesome.io/icons/
*/

// navbar
.separator { border-bottom: 1px solid black; margin: 5px 0; }
.navbar-default {
  background-color: #31708f; border-color: #3097d1;

  .navbar-brand { color: white; }
  .navbar-brand:hover { color: skyblue; }
  .navbar-nav>li>a, .navbar-text { color: white; }
  .navbar-nav>li>a:hover, .navbar-text:hover { color: skyblue; }

}


//  forms
.form-block { margin: 10px 15px; }


// buttons
.btn:hover { background: #cbe8f5; }

.edit {
  padding: 3px;
  width: 70px;
  &:hover {
    background: darkgrey;
    color: white;
  }
}
.delete {
  background: #ffbaba;
  color: #636b6f;
  padding: 3px;
  width: 70px;
  &:hover {
    background: #de5151;
    color: white;
  }
}


// admin dashboard tiles
.user, .timeclock, .calendar, .payroll {
  background: #26328A;
  height: 250px;
  border: 5px solid white;
  position: relative;
  text-align: center;
  color: white;
  cursor: hand;
  cursor: pointer;

  &:hover { background: #233988; animation: wobble 0.5s; }

  label {
    position: relative;
    font-size: 250%;
    margin: 20% 0;
    cursor: hand !important;
    cursor: pointer !important;

    i {
      display: block;
      font-size: 200%;
    }
  }
}

// table
.table > tbody > tr > td { font-size: 16px; padding: 5px; line-height: 2.3em; }

// fontawesome overrides
.fa-angle-right { font-size: 15px; font-weight: 700; margin: 0 1%;  }

// animations
@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(1deg); }
  50%  { -webkit-transform:  rotate(-1deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}