/**
 NOTE: Use & when nesting elements, it will always refer to the parent.
       Important for when we have multiple selectors we are applying styles to.

 NOTE: http://fontawesome.io/icons/
*/

// navbar
.separator { border-bottom: 1px solid black; margin: 5px 0; }
.navbar-default {
  background-color: #31708f; border-color: #3097d1;

  .navbar-brand { color: white; }
  .navbar-brand:hover { color: skyblue; }
  .navbar-nav>li>a, .navbar-text { color: white; }
  .navbar-nav>li>a:hover, .navbar-text:hover { color: skyblue; }

}

// footer
.footer {
  color: white;
  position: fixed;
  bottom: 0;
  background-color: #31708f;
  border-color: #3097d1;
  height: 50px;
  width: 100%;

  #copyright {
    margin-top: 15px;
    margin-left: 5%;
    float: left;
    a { color: white; }
  }
  #tandc {
    margin-top: 15px;
    margin-right: 5%;
    float: right;
    a { color: white; }
  }
}


//  forms
.form-block { margin: 10px 15px; }


// buttons
.btn:hover { background: #cbe8f5; }

.edit {
  padding: 3px;
  width: 70px;
  &:hover {
    background: darkgrey;
    color: white;
  }
}
.delete {
  background: #ffbaba;
  color: #636b6f;
  padding: 3px;
  width: 70px;
  &:hover {
    background: #de5151;
    color: white;
  }
}


// admin dashboard tiles
.user, .timeclock, .calendar, .payroll {
  background: #26328A;
  height: 250px;
  border: 5px solid white;
  position: relative;
  text-align: center;
  color: white;
  cursor: hand;
  cursor: pointer;

  &:hover { background: #233988; animation: wobble 0.5s; }

  label {
    position: relative;
    font-size: 250%;
    margin: 20% 0;
    cursor: hand !important;
    cursor: pointer !important;

    i {
      display: block;
      font-size: 200%;
    }
  }
}

// table
.table > tbody > tr > td { font-size: 16px; padding: 5px; line-height: 2.3em; }

// fontawesome overrides
.fa-angle-right { font-size: 15px; font-weight: 700; margin: 0 1%;  }

// animations
@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(1deg); }
  50%  { -webkit-transform:  rotate(-1deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}


/************* BEGIN USER CSS *************/
.panel-user { color: #807c7c !important; border: none !important; }
.panel-user .thumb { width: 100px; }

.user-tiles {
  text-align: center;
  background-color: #fff;
  border: 1px solid #d3e0e9;
  padding: 25px 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  height: 500px;
  position: relative;

  .button-wrap {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;


    button {
      font-size: 20px;
      font-weight: 600;
      background: white;
      color: #61c138;
      border: 2px solid #61c138;
      width: 50%;
      border-radius: 15px;

      &:hover {
        color: #99cb84;
        border: 2px solid #99cb84;
      }
    }
  }

  /** USER CALENDAR **/
  .ui-datepicker {
    margin: 65px auto !important;
    width: 80%;
  }

  /** USER TIMECLOCK **/
  .timeclock-list {
    width: 75%;
    margin: 25px auto;

    .time {
      margin: 10px;
      width: 100%;
      text-align: left;
      padding-left: 50px;
      label { font-weight: 600; width: 90px; }
      form { display: inline; }
      .add {
        width: 55px;
        border-radius: 5px;
        background: #31708f;
        color: white;
        padding: 1px;
        text-align: center;
        cursor: pointer;
        cursor: hand;
        &:hover {
          background: #5193b3;
        }
      }
    }

  }

  /** USER BENEFITS **/
  .benefits-list {
    width: 75%;
    margin: 65px auto;

    .benefits {
      margin: 10px;
      width: 100%;
      text-align: left;
      padding-left: 15px;
      &label { font-weight: 600; }
    }
  }
}

.user-detail-left {
  width: 50%;
  float: left;

  .user-info-left {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 120%;

    label {
      display: block;
    }
  }
}
.user-detail-right {
  width: 50%;
  float: right;
  text-align: right;

  .user-info-right {
    display: inline-block;
    vertical-align: middle;
    font-size: 120%;
    padding-top: 28px;

    .search {
      display: block;
      width: 200px;
    }
    .my-messages {
      cursor: hand;
      cursor: pointer;
      &:hover {
        color: #31708f;
      }
    }
  }
}

.time-edit-box {
  border-bottom: 1px solid #d3e0e9;
}

/************* END USER CSS *************/

.clear { clear: both; }
.large-title { font-size:20px; font-weight: 600; }
.gray-border { width: 50%; padding: 5px 10px; border: 1px solid #cecece; background: #f1f1f1; }


// bootstrap overrides
.input-group-addon { background: #31708f; color: white; cursor: hand; cursor: pointer; }


// for calendar
.event a {
  background-color: #42B373 !important;
  background-image :none !important;
  color: #ffffff !important;
}


input[type=file] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
}